<div class="grid-container">

<% if @current_user.location_x < 2 %>

  <div id="north"><%= form_tag('/north') do %>
    <%= submit_tag "North" %>
  <% end %>
  </div>
<% end %>

<% if @current_user.location_y > 0 %>
  <div id="east"><%= form_tag('/east') do %>
    <%= submit_tag "East" %>
  <% end %>
  </div>
<% end %>

<div id="walking">
  <iframe src="https://giphy.com/embed/xUOrvW5lZpuaNJgpVu" width="42" height="60" frameBorder="0"></iframe>
</div>

<% if @current_user.location_y < 3 %>
  <div id="west"><%= form_tag('/west') do %>
    <%= submit_tag "West" %>
  <% end %>
  </div>
<% end %>

<% if @current_user.location_x > 0 %>
  <div id="south"><%= form_tag('/south') do %>
    <%= submit_tag "South" %>
  <% end %>
  </div>
<% end %>

<div id="hp" value=<%= @current_user.hp %> >
  <h3>Hitpoints:</h3>
  <input name="hp" type="number" placeholder="0 to 100" min="51" max="100" value=<%= @current_user.hp %>>
</div>
<br>
<div id="hunger">
  <h3>Hunger:</h3>
  <input name="hunger" type="number" placeholder="0 to 100" min="0" max="50" value=<%= @current_user.hunger %>>
</div>
<br>
<div id="sickness">
  <h3>Sickness:</h3>
  <input name="sickness" type="text" value=<%= @current_user.sickness %>>
</div>

</div>
