<div class="grid-container">

<% if @current_user.location_x < 2 %>

  <div id="north"><%= form_tag('/north') do %>
    <%= submit_tag "North" %>
  <% end %>
  </div>
<% end %>

<% if @current_user.location_y > 0 %>
  <div id="east"><%= form_tag('/east') do %>
    <%= submit_tag "East" %>
  <% end %>
  </div>
<% end %>

<div id="walking">
  <iframe src="https://giphy.com/embed/xUOrvW5lZpuaNJgpVu" width="42" height="60" frameBorder="0"></iframe>
</div>

<% if @current_user.location_y < 3 %>
  <div id="west"><%= form_tag('/west') do %>
    <%= submit_tag "West" %>
  <% end %>
  </div>
<% end %>

<% if @current_user.location_x > 0 %>
  <div id="south"><%= form_tag('/south') do %>
    <%= submit_tag "South" %>
  <% end %>
  </div>
<% end %>

<div id="hp">
  <h3>Hitpoints:</h3>
  <h4><%= @current_user.hp %> / 100</h4>
</div>

<div id="hunger">
  <h3>Hunger:</h3>
  <h4><%= @current_user.hunger %></h4>
</div>

<div id="sickness">
  <h3>Sickness:</h3>
  <h4><%= @current_user.sickness %></h4>
</div>

</div>
