<h2>Doctor Details</h2>

<label>Name: <%= @doctor.name %></label>
<br/>
<label>Healing Power: <%= @doctor.hp_increase %></label>
<br/>
<br/>
<label>X Coordinate: <%= @doctor.location_x %></label>
<br/>
<label>Y Coordinate: <%= @doctor.location_y %></label>
<br/>
<br/>

<%= link_to "Edit Doctor Details", edit_doctor_path%>
<br/>
<%= link_to "Delete Doctor", destroy_doctor_path, method: :delete %>
