<h2>Add New Food</h2>

<%= form_for @food do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.number_field :location_x, value: @location_x, hidden: true %>
<%= f.number_field :location_y, value: @location_y, hidden: true %>
<%= f.submit "Submit Food" %>
<% end %>
