<h2>Food Details</h2>

<label>Name: <%= @food.name %></label>
<br/>
<label>Hunger Decrease: <%= @food.hunger_decrease %></label>
<br/>
<br/>
<label>X Coordinate: <%= @food.location_x %></label>
<br/>
<label>Y Coordinate: <%= @food.location_y %></label>
<br/>
<br/>

<%= link_to "Edit Food Details", edit_food_path%>
<br/>
<%= link_to "Delete Food", destroy_food_path, method: :delete %>
