<h2>Bird Details</h2>

<label>Species: <%= @bird.species %></label>
<br/>
<label>Sick?: <%= @bird.sickness %></label>
<br/>
<label>Attack Power: <%= @bird.attack %></label>
<br/>
<br/>
<%= link_to "Edit Bird Details", edit_bird_path%>
<br/>
<%= link_to "Delete Bird", destroy_bird_path, method: :delete %>
